
body, .table { font-family: Arial, sans-serif; 
    margin: 0; /* Remove a margem padrão do navegador */
    padding: 20px; /* Dá um "respiro" nas bordas da tela */    
    background: #f5f5f5; 
}

h1, h2 { 
    color: #000000; 
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    background: #fff; 
    border-radius: 5px;
}

th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
}
a, #link_remover { 
    text-decoration: none; 
    color: white;
}
.btn_excluir { 
    cursor: pointer; 
    background-color: #e02130;
    color: white;
    border-radius: 5px;
}
.btn_excluir:hover {
    background-color: darkred;
}

.btn_editar { 
    cursor: pointer; 
    background-color: #429867;
    color: white;
    border-radius: 5px;
}
.btn_editar:hover {
    background-color: #33744f;
}

.btn_topo { 
    cursor: pointer; 
    background-color: #2b5166;
    border-radius: 5px;
}
.btn_topo:hover {
    background-color: #213c4b;
}

input {
width: 100%;
padding: 6px;
box-sizing: border-box;
}

/* Formulário padrão (novo / editar) */
.form-container {
max-width: 500px;
background: white;
padding: 20px;
border-radius: 5px;
}

/* Campos de formulário */
.form-container input {
width: 100%;
padding: 6px;
box-sizing: border-box;
}

/* Select no formulário */
.form-container select {
width: 100%;
padding: 6px;
box-sizing: border-box;
}

.btn_pdf {
    cursor: pointer; 
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    border: none; /* remove a borda */
    outline: none; /* remove contorno ao clicar */
    box-shadow: 0 0 0 2px #000000;
    font-weight: bold;
}   
.btn_pdf:hover {
    background-color: #920e0e;
}