/* Arquivo: public/css/styles.css */
body { font-family: Arial, sans-serif; margin: 20px; background: #f5f5f5; }
h1, h2 { color: #003366; }
table { width: 100%; border-collapse: collapse; background: #fff; }
th, td { border: 1px solid #ddd; padding: 8px; }
a { color: #003366; text-decoration: none; }
button { cursor: pointer; }




.btn-pdf {
  display: inline-block;
  padding: 5px 8px;
  background-color: #c62828;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pdf:hover {
  background-color: #f97f7f;
}