<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Amigos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <h1>Lista de Amigos</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Criado em</th>
            </tr>
        </thead>
        <tbody id="tabela-amigos">
            <tr>
                <td colspan="4">Carregando...</td>
            </tr>
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
